ion-title{
  margin-top: 2vh;
  margin-left: 1vh;
}

ion-card-content{
  margin-left: 1vh;
}

ion-input{
  margin-top: 1vh;
  margin-left: 3vh;
}

ion-button{
  margin-top: 1vh;
  margin-left: 4vh;
}
