.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

div{
  padding: 2vh;
  background-color: #EEEEEE;
  text-align: right;
}

ion-card-title{
  margin-top: 2vh;
  margin-left: 1vh;
}

ion-card-content{
  margin-left: 0vh;
}

ion-button{
  margin-left: 2vh;
}
