<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title>Welchome Movie Fans!</ion-card-title>
  <ion-card-content>This is a simple demo movie app.</ion-card-content>
  <ion-button color="primary">Show native demo</ion-button>
</ion-content>

<ion-footer class="welcome-card-footer">
  <div>
    Movie App / HSLU I
  </div>
</ion-footer>
